<!DOCTYPE html>
{% load static %}
<html style="height: 100%;width: 100%; ">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <script src="{%static '../static/js/jquery.js'%}"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/xlsx/0.15.1/xlsx.core.min.js"></script>
    <link rel="stylesheet" href="{%static '../static/css/heatmap.css'%}" />
</head>

<body>
    <!-- 头部 -->
    <header>
        <h1>热力图</h1>
        <div class="show-time"></div>
        <script>
            var t = null;
            t = setTimeout(time, 1000); //开始运行
            function time() {
                clearTimeout(t); //清除定时器
                dt = new Date();
                var y = dt.getFullYear();
                var mt = dt.getMonth() + 1;
                var day = dt.getDate();
                var h = dt.getHours(); //获取时
                var m = dt.getMinutes(); //获取分
                var s = dt.getSeconds(); //获取秒
                document.querySelector(".show-time").innerHTML =
                    "当前时间：" +
                    y +
                    "年" +
                    mt +
                    "月" +
                    day +
                    "日-" +
                    h +
                    "时" +
                    m +
                    "分" +
                    s +
                    "秒";
                t = setTimeout(time, 1000); //设定定时器，循环运行
            }
        </script>
    </header>

    <!-- 页面主体 -->
    <!-- <section class="mainbox"> -->

    <input type="file" id="excel-file">
    <div id="container" style="height: 750%; -webkit-tap-highlight-color: transparent; user-select: none; position: relative;" _echarts_instance_="ec_1618368842115">
        <div style="position: relative; width: 1366px; height: 600px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;"><canvas data-zr-dom-id="zr_0" width="1366" height="600" style="position: absolute; left: 0px; top: 0px; width: 1366px; height: 600px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
        </div>
        <div class="" style="position: absolute; display: block; border-style: solid; white-space: nowrap; z-index: 9999999; box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px; transition: opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s, visibility 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s, left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s; background-color: rgb(255, 255, 255); border-width: 1px; border-radius: 4px; color: rgb(102, 102, 102); font: 14px / 21px;">
            <div style="margin: 0px 0 0;line-height:1;">
                <div style="margin: 10px 0 0;line-height:1;">
                    <div style="margin: 0px 0 0;line-height:1;">
                        <div style="clear:both"></div>
                    </div>
                    <div style="clear:both"></div>
                </div>
                <div style="clear:both"></div>
            </div>
            <div style="position:absolute;width:10px;height:10px;bottom:-6px;left:50%;-ms-transform:translateX(-50%) rotate(45deg);-moz-transform:translateX(-50%) rotate(45deg);-o-transform:translateX(-50%) rotate(45deg);-webkit-transform:translateX(-50%) rotate(45deg);transform:translateX(-50%) rotate(45deg);border-bottom: rgba(234,195,146,1) solid 1px;border-right: rgba(234,195,146,1) solid 1px;background-color: #fff;box-shadow: 8px 8px 16px -3px #000;"></div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>


    <!-- </section> -->
</body>

<script type="text/javascript">
    var persons = (function() {

        window.onload = function() {
            var persons = [];
            $('#excel-file').change(function(e) {
                var files = e.target.files;
                var fileReader = new FileReader();
                fileReader.onload = function(ev) {
                    try {
                        var data = ev.target.result
                        var workbook = XLSX.read(data, {
                            type: 'binary'
                        }); // 以二进制流方式读取得到整份excel表格对象
                        persons = [];
                    } catch (e) {
                        alertMsg(2, '文件类型不正确, 请重新选择文件');
                        return;
                    }

                    // 表格的表格范围，可用于判断表头是否数量是否正确
                    var fromTo = '';
                    // 遍历每张表读取
                    for (var sheet in workbook.Sheets) {
                        if (workbook.Sheets.hasOwnProperty(sheet)) {
                            fromTo = workbook.Sheets[sheet]['!ref'];
                            if (!fromTo) {
                                alertMsg(2, '文件内容为空, 导入失败');
                                return;
                            }
                            persons = XLSX.utils.sheet_to_json(workbook.Sheets[sheet]);
                            // break; // 如果只取第一张表，就取消注释这行
                        }
                    }

                    var view_map = (function() {
                        var dom = document.getElementById("container");
                        var myChart = echarts.init(dom);
                        var app = {};
                        var option;
                        var Data = persons;
                        //console.log('Data' + Data);
                        var readName_x = [];
                        var readName_y = [];
                        var readData = [];
                        for (var i = 0; i < Data.length; i++) {
                            var Name_x = Data[i].name;
                            readName_x.push(Name_x);
                            var Name_y = Data[i].name;
                            readName_y.push(Name_y);
                            var Data_i = Data[i];

                            var readData_i = [];
                            for (var x in Data_i) {
                                var data_i = Data_i[x];
                                readData_i.push(data_i);
                            }
                            for (var j = 1; j < Data.length + 1; j++) {
                                var data = [i, j - 1, readData_i[j]];
                                readData.push(data);
                            }
                        }

                        //console.log('readData' + readData);

                        readData = readData.map(function(item) {
                            return [item[0], item[1], item[2] || '-'];
                        });

                        option = {
                            tooltip: {
                                position: 'top'
                            },
                            dataZoom: [{
                                id: 'dataZoomX',
                                type: 'inside',
                                xAxisIndex: [0],
                                filterMode: 'filter'
                            }, {
                                id: 'dataZoomY',
                                type: 'inside',
                                yAxisIndex: [0],
                                filterMode: 'empty'
                            }],
                            toolbox: {
                                right: '6%',
                                feature: {
                                    saveAsImage: {},
                                    dataView: {},
                                    restore: {},

                                    magicType: {
                                        typy: ['bar', 'line']
                                    }
                                }
                            },
                            grid: {
                                top: '5%',
                                left: '10%',
                                bottom: '10%',
                                right: '6%',
                            },
                            xAxis: {
                                type: 'category',
                                data: readName_x,
                                splitArea: {
                                    show: true
                                },
                                axisLabel: {
                                    color: "#4c9bfb", // x轴文本颜色
                                    fontSize: 10,
                                    rotate: 30,
                                },
                            },
                            yAxis: {
                                type: 'category',
                                data: readName_y,
                                splitArea: {
                                    show: true
                                },
                                axisLabel: {
                                    color: "#4c9bfb", // x轴文本颜色
                                    fontSize: 10,
                                },
                            },
                            visualMap: {
                                min: 0,
                                max: 15,
                                calculable: true,
                                orient: 'vertical',
                                left: '1%',
                                top: '3%',
                                inRange: {
                                    color: ['#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
                                }
                            },
                            series: [{
                                name: 'relation',
                                type: 'heatmap',
                                data: readData,
                                label: {
                                    show: false
                                },
                                emphasis: {
                                    focus: 'series',
                                    color: {
                                        type: 'linear',
                                        x: 0,
                                        y: 0,
                                        x2: 0,
                                        y2: 1,
                                        colorStops: [{
                                            offset: 0,
                                            color: 'red' // 0% 处的颜色
                                        }, {
                                            offset: 1,
                                            color: 'blue' // 100% 处的颜色
                                        }],
                                        global: false // 缺省为 false
                                    },
                                    itemStyle: {
                                        shadowBlur: 15,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                },
                                progressive: 1000000000,
                            }]
                        };

                        if (option && typeof option === 'object') {
                            myChart.setOption(option);
                        }
                    })(persons)


                    //将persons赋值给要展示的表格数组里即可展示在界面
                };
                // 以二进制方式打开文件
                if (files.length == 0) {
                    return;
                }
                fileReader.readAsBinaryString(files[0]);
                e.target.value = '';
            });
        }
    })();
</script>


</html>