<!DOCTYPE html> {% load static %}
<html>

<head>
    <title>人才关系图</title>
    <script src="{%static '../static/js/jquery.js'%}"></script>
    <script src="{%static '../static/js/echarts.min.js'%}"></script>
    <style>
    *{
        margin:0;
        padding:0;
    }
    </style>
</head>
    
<body>
    <!--input type="name" id="myinput">
    <button onclick="return check_search()">搜索</button-->
     
    <div id="main" target="_black" style="width:750px;height:550px;"></div>

</body>
<script type="text/javascript">

        function oneValue() {
            var result;
            var url = decodeURI(window.location.search); //获取url中"?"符后的字串  
            if (url.indexOf("?") != -1) {
                result = url.substr(url.indexOf("=") + 1);
            }
            return result;
        };
       
    check_search();
    var myInput = []
    function check_search() {
    
            if (!window.localStorage) {
                alert("浏览器不支持localStorage");
            } else {
             
              
       
                // 读取搜索
                // myInput = oneValue();
                 myInput = '激光';


                var companyname = (function() {
                    var companyData = []
                    $.ajax({
                        type: "get",
                        async: false, //同步执行
                        url: "http://1.14.31.117:8000/ComMultisearch/?company_name=" + myInput,
                        dataType: "json", //返回数据形式为json
                        success: function(result) {
                            //后台返回的数据格式如下：
                            if(result.features.length>5){
                                companyData = result.features.splice(0,10);
                            }
          

                        },
                        error: function(errorMsg) {
                            alert("加载失败！");
                        }
                    });
                    return companyData;
                })()

                var company_introduction = (function() {
                    var companyData = []
                    $.ajax({
                        type: "get",
                        async: false, //同步执行
                        url: "http://1.14.31.117:8000/ComMultisearch/?company_introduction=" + myInput,
                        dataType: "json", //返回数据形式为json
                        success: function(result) {
                            //后台返回的数据格式如下：
                            if(result.features.length>5){
                                companyData = result.features.splice(0,10);
                            }
                        },
                        error: function(errorMsg) {
                            alert("加载失败！");
                        }
                    });
                    return companyData;
                })()

             

                // var companyName = (function() {
                //     var companyData = []
                //     $.ajax({
                //         type: "get",
                //         async: false, //同步执行
                //         url: "http://1.14.31.117:8000/ComMultisearch/?company_name=" + myInput,
                //         dataType: "json", //返回数据形式为json
                //         success: function(result) {
                //             //后台返回的数据格式如下：
                //             companyData = result
                //             console.log('------',companyData)

                //         },
                //         error: function(errorMsg) {
                //             alert("加载失败！");
                //         }
                //     });
                //     return companyData;
                // })()

                // var companyintroduction= (function() {
                //     var companyData = []
                //     $.ajax({
                //         type: "get",
                //         async: false, //同步执行
                //         url: "http://1.14.31.117:8000/ComMultisearch/?company_introduction=" + myInput,
                //         dataType: "json", //返回数据形式为json
                //         success: function(result) {
                //             //后台返回的数据格式如下：
                //             companyData = result
                          

                //         },
                //         error: function(errorMsg) {
                //             alert("加载失败！");
                //         }
                //     });
                //     return companyData;
                // })()
                // var ach_name= (function() {
                //     var companyData = []
                //     $.ajax({
                //         type: "get",
                //         async: false, //同步执行
                //         url: "http://1.14.31.117:8000/AchMultisearch/?ach_name=" + myInput,
                //         dataType: "json", //返回数据形式为json
                //         success: function(result) {
                //             //后台返回的数据格式如下：
                //             companyData = result
                           
                //         },
                //         error: function(errorMsg) {
                //             alert("加载失败！");
                //         }
                //     });
                //     return companyData;
                // })()
                // var ach_introduction= (function() {
                //     var companyData = []
                //     $.ajax({
                //         type: "get",
                //         async: false, //同步执行
                //         url: "http://1.14.31.117:8000/AchMultisearch/?ach_introduction=" + myInput,
                //         dataType: "json", //返回数据形式为json
                //         success: function(result) {
                //             //后台返回的数据格式如下：
                //             companyData = result
                           
                //         },
                //         error: function(errorMsg) {
                //             alert("加载失败！");
                //         }
                //     });
                //     return companyData;
                // })()
                // var ach_people= (function() {
                //     var companyData = []
                //     $.ajax({
                //         type: "get",
                //         async: false, //同步执行
                //         url: "http://1.14.31.117:8000/AchMultisearch/?ach_people=" + myInput,
                //         dataType: "json", //返回数据形式为json
                //         success: function(result) {
                //             //后台返回的数据格式如下：
                //             companyData = result
                           
                //         },
                //         error: function(errorMsg) {
                //             alert("加载失败！");
                //         }
                //     });
                //     return companyData;
                // })()
              var companyData = [];
              companyData= companyData.concat(companyname.features).concat(company_introduction.features)
                //一级--二级
                var readnodeData = []
                var associatedData = []
                var readassociatedData = []
                var nodeData1 = {
                    name: myInput,
                    des: myInput,
                    symbolSize: 50,
                    category: 0,
                }
                readnodeData.push(nodeData1)

                for (var i = 0; i < companyData.length; i++) {
                        var nodeData2 = {
                            name: companyData[i].company_name,
                            des: companyData[i].company_name,
                            symbolSize: 50,                          
                              category: 1,                          
                        }
                        readnodeData.push(nodeData2)
                        var associatedData = {
                            source: myInput,
                            target: companyData[i].company_name,
                           // name: '关系强度值' + companyData[i].value1,
                           // des: '关系强度值' + companyData[i].value1
                            name: '相关企业' ,
                            des: '相关企业'
                        }
                  
                        readassociatedData.push(associatedData)
                    //5
                    //  else if(parseInt(companyData[i].value) == 5 ){

                      

                    //     var nodeData2 = {
                    //         name: companyData[i].name2,
                    //         des: companyData[i].name2,
                    //         symbolSize: 50,
                            
                    //           category: 2,
                         
                     
                          
                    //     }
                    //     readnodeData.push(nodeData2)
                    //     var associatedData = {
                    //         source: companyData[i].name1,
                    //         target: companyData[i].name2,
                    //         //name: '关系强度值' + companyData[i].value1,
                    //         //des: '关系强度值' + companyData[i].value1
                    //         name: '二级关系' ,
                    //         des: '二级关系',
                         
                            
                    //     }
                    //     readassociatedData.push(associatedData)
                        
                    // }
                    
                
              
                    


                }


                //去重
                for (i = 0; i < readnodeData.length; i++) {
                    for (j = i + 1; j < readnodeData.length; j++) {
                        if (readnodeData[i].name == readnodeData[j].name) {
                            readnodeData.splice(j, 1);
                            readassociatedData.splice(j - 1, 1);
                            readnodeData.length--;
                            j--;
                        }
                    }
                }
          

                console.log(readnodeData)
                console.log(readassociatedData)

                var myChart = echarts.init(document.getElementById('main'));
                var categories = [{
                    name: '关键词'
                }, {
                    name: '相关企业'
                }
                ]
         

                //
               let option = {
                    // 图的标题
                    // title: {
                    //     text: oneValue()+'关系图'
                        
                    // },
                    // 提示框的配置
                    tooltip: {
                        show:true,
                        //triggerOn:"onclick",
                        //triggerOn:"onmouseout"
                        extraCssText:"width:300px;text-align:left;display:block;white-space: normal; word-break: break-all;",
                        
                        formatter: function(x) {
                  
                                     $.ajax({
                                            type: "get",
                                            async: false, //同步执行
                                            url: "http://1.14.31.117:8000/ComMultisearch/?company_name="+x.data.des,
                                            dataType: "json", //返回数据形式为json
                                            success: function(result) {
                                                //后台返回的数据格式如下：
                                                companyData = result
                                                console.log(companyData)
                                            },
                                            error: function(errorMsg) {
                                                alert("加载失败！");
                                            }
                                        });
                        
                                        return "公司名称:"+companyData.features["0"].company_name+'<br>'+
                                                "公司法人:"+companyData.features["0"].company_auth+'<br>'+
                                                "所属行业:"+companyData.features["0"].company_prisector+'<br>'+
                                                "成立时间:"+companyData.features["0"].company_time+'<br>'+
                                                "成立时间:"+companyData.features["0"].company_address+'<br>'+
                                                "公司简介:"+companyData.features["0"].company_introduction;
                                   
                                
                        }
                       
                    },
                    // 工具箱
                    toolbox: {
                        // 显示工具箱
                        show: true,
                        feature: {
                            mark: {
                                show: true
                            },
                            // 还原
                            // restore: {
                            //     show: true
                            // },
                            // // 保存为图片
                            // saveAsImage: {
                            //     show: true
                            // }
                        }
                    },
                    legend: [{
                        // selectedMode: 'single',
                        data: categories.map(function(a) {
                            return a.name;
                        })
                    }],
                        
                    series: [{
                        type: 'graph',
                        //type: 'line', // 类型:关系图
                       layout: 'force', //图的布局，类型为力导图
                       symbolSize: 10, // 调整节点的大小
                        roam: true, // 是否开启鼠标缩放和平移漫游。默认不开启。如果只想要开启缩放或者平移,可以设置成 'scale' 或者 'move'。设置成 true 为都开启
                        edgeSymbol: ['circle', 'arrow'],
                        edgeSymbolSize: [2, 10],
                        //draggable : true,
                     
                        edgeLabel: {
                            normal: {
                                textStyle: {
                                    fontSize: 20
                                }
                            }
                        },
                       
                       force: {
                           //initLayout:true,
                            repulsion: 800,
                         
                            edgeLength :200,

                         
                           
                            gravity: 0.1, //引力
             
                           
                            layoutAnimation : true,
                        },
                   
                       draggable: false,

                        lineStyle: {
                          

                            
                            normal: {
                                width: 2,
                                //color: '#4b565b',
                           
                                color: '#4b565b',
                             
                            }
                            
                        },
                        edgeLabel: {
                            normal: {
                                show: true,
                                formatter: function(x) {
                                    return x.data.name;
                                },
                                fontSize:18,
                               
                            }
                        },
                        label: {
                            normal: {
                                show: true,
                                textStyle: {
                                  
                                }
                            }
                        },
                       
                        // 数据
                        data: readnodeData,
                        links: readassociatedData,
                        categories: categories,
                    }]
                    
                };
                
                myChart.setOption(option);
                
                };




         
       

            return true;
            
            
             function  edgeLength_function(companyData){
               for (i = 0; i < readnodeData.length; i++) {
                   if(companyData[i].value1 == "5"){
                       return 5.0;
                     
                   }
                   else if(companyData[i].value1 == "10"){
                       return 100;
                   }
               }
           }
        
      
            
       
    }
</script>

</html>